body {
    background-color: darkcyan;
    margin: 0px;
}

header {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    color: red;
    padding-left: 30px;
}

nav a {
    text-decoration: none;
    padding-right: 30px;
}

.hero {
    color: whitesmoke;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;


